<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ManagementUserController</servlet-name>
        <servlet-class>controller.ManagementUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeatureController</servlet-name>
        <servlet-class>controller.FeatureController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFeatureController</servlet-name>
        <servlet-class>controller.AddFeatureController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailFeature</servlet-name>
        <servlet-class>controller.DetailFeature</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeachFeatureController</servlet-name>
        <servlet-class>controller.SeachFeatureController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingController</servlet-name>
        <servlet-class>controller.SettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCriteriaController</servlet-name>
        <servlet-class>controller.ListCriteriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassController</servlet-name>
        <servlet-class>controller.ChangePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubjectSetting</servlet-name>
        <servlet-class>controller.AddSubjectSetting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MilestoneListController</servlet-name>
        <servlet-class>controller.MilestoneListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MilestoneSearch</servlet-name>
        <servlet-class>controller.MilestoneSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSubjectSettingController</servlet-name>
        <servlet-class>controller.ListSubjectSettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectDetailsController</servlet-name>
        <servlet-class>controller.SubjectDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSubjectSettingController</servlet-name>
        <servlet-class>controller.EditSubjectSettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IterationDetailsController</servlet-name>
        <servlet-class>controller.IterationDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditIterationController</servlet-name>
        <servlet-class>controller.EditIterationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusCriteria</servlet-name>
        <servlet-class>controller.ChangeStatusCriteria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriteriaDetailsController</servlet-name>
        <servlet-class>controller.CriteriaDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCriteriaController</servlet-name>
        <servlet-class>controller.EditCriteriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCriteriaController</servlet-name>
        <servlet-class>controller.SearchCriteriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MileStoneEditController</servlet-name>
        <servlet-class>controller.MilestoneEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addMilestone</servlet-name>
        <servlet-class>controller.AddMilestoneController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeatureListController</servlet-name>
        <servlet-class>controller.FeatureListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatusFeature</servlet-name>
        <servlet-class>controller.ChangeStatusFeature</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagementUserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchByStatusSubjectSetting</servlet-name>
        <servlet-class>controller.SearchByStatusSubjectSetting</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePassController</servlet-name>
        <url-pattern>/changePass</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserProfileController</servlet-name>
        <servlet-class>controller.UserProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManagementEditUserController</servlet-name>
        <servlet-class>controller.ManagementEditUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagementEditUserController</servlet-name>
        <url-pattern>/editUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserSearchController</servlet-name>
        <servlet-class>controller.UserSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserSearchController</servlet-name>
        <url-pattern>/userSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditSubjectController</servlet-name>
        <servlet-class>controller.EditSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListIssueController</servlet-name>
        <servlet-class>controller.ListIssueController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MilestoneListController</servlet-name>
        <url-pattern>/MilestoneListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MilestoneSearch</servlet-name>
        <url-pattern>/MilestoneSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListIssueController</servlet-name>
        <url-pattern>/ListIssueController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectDetailsController</servlet-name>
        <url-pattern>/SubjectDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IterationDetailsController</servlet-name>
        <url-pattern>/IterationDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditIterationController</servlet-name>
        <url-pattern>/EditIterationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusCriteria</servlet-name>
        <url-pattern>/ChangeStatusCriteria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriteriaDetailsController</servlet-name>
        <url-pattern>/CriteriaDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCriteriaController</servlet-name>
        <url-pattern>/EditCriteriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCriteriaController</servlet-name>
        <url-pattern>/SearchCriteriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MileStoneEditController</servlet-name>
        <url-pattern>/MileStoneEditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addMilestone</servlet-name>
        <url-pattern>/addMilestone</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IssueDetailsController</servlet-name>
        <servlet-class>controller.IssueDetailsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IssueDetailsController</servlet-name>
        <url-pattern>/IssueDetailsController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditIssueController</servlet-name>
        <servlet-class>controller.EditIssueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchIssueController</servlet-name>
        <servlet-class>controller.SearchIssueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportExcelController</servlet-name>
        <servlet-class>controller.ExportExcelController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExportExcelController</servlet-name>
        <url-pattern>/ExportExcelController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ImportIssueController</servlet-name>
        <servlet-class>controller.ImportIssueController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImportIssueController</servlet-name>
        <url-pattern>/ImportIssueController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSubjectSettingController</servlet-name>
        <url-pattern>/ListSubjectSettingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeatureController</servlet-name>
        <url-pattern>/FeatureController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFeatureController</servlet-name>
        <url-pattern>/AddFeatureController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailFeature</servlet-name>
        <url-pattern>/DetailFeature</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeachFeatureController</servlet-name>
        <url-pattern>/SeachFeatureController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSubjectSettingController</servlet-name>
        <url-pattern>/EditSubjectSettingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByStatusSubjectSetting</servlet-name>
        <url-pattern>/SearchByStatusSubjectSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingController</servlet-name>
        <url-pattern>/SettingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCriteriaController</servlet-name>
        <url-pattern>/ListCriteriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubjectSetting</servlet-name>
        <url-pattern>/AddSubjectSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSubjectController</servlet-name>
        <url-pattern>/EditSubjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatusFeature</servlet-name>
        <url-pattern>/ChangeStatusFeature</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileController</servlet-name>
        <url-pattern>/UserProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeatureListController</servlet-name>
        <url-pattern>/FeatureList</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
